<% if session[:id].nil? %>
  <h1>
    You are not logged in.
  </h1>

  <div class="links">
    <div class="half_page">
      <div class="half_link_left">
        <a href="/login">Login</a>
      </div>
    </div>
    <div class="half_page">
      <div class="half_link_right">
        <a href="/register">Register</a>
      </div>
    </div>
  </div>

<% else %>

  <h1>Welcome, <%= email %></h1>

  <div class="links">
    <div class="half_page">
      <div class="half_link_left">
        <a href="/logout">Logout</a>
      </div>
    </div>
    <% if is_admin %>
      <div class="half_page">
        <div class="half_link_right">
          <a href="/users">View all users</a>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
