<div class="registration">
  <h1>Login</h1>

  <form method="post" action="/login">
    <table class="form_table">
      <tr>
        <td>Email</td>
        <td><input type="email" name="email"></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input type="password" name="password"></td>
      </tr>
    </table>
    <input type="submit" value="Login">
  </form>
</div>