<form method="post" action="/register">
  <input type="email" name="email" placeholder="Please type email">
  <input type="password" name="password" placeholder="Please type password">
  <input type="submit" value="Register">
</form>