<div class="admin">
  <h1>Users</h1>
  <table class="user">
    <tr>
      <th class="first">ID</th>
      <th>Email</th>
    </tr>
    <% all_users.each do |user| %>
      <tr>
        <td class="first"><%= user[:id] %></td>
        <td><%= user[:email] %></td>
      </tr>
    <% end %>
  </table>
</div>