body {
    text-align: center;
    height: 100%;
    position: relative;
    background-image: url('../background.jpg');
    width: 100%;
}

a {
    color: #fff;
}

.registration {
    text-align: center;
    align-content: center;
    margin: auto;
}

.form_table {
    margin: 2em auto 2em;
    text-align: left;
}

.form_table td {
    padding: 1em;
}

h1 {
    font-size: 4em;
}

.error {
    color: red;
}

.header_left {
    float: left;
    font-size: 2em;
}

.header_right {
    padding-right: 1em;
    float: right;
}

.admin {
    padding: 1em;
}

.user {
    border: 2px solid;
    margin: auto;
}

.first {
    border-right: 2px solid;
}

.user th {
    background: rgba(128, 128, 128, 0.8);
}

.user th, .user td {
    padding: .7em;
}

.links td {
    padding: 1em;
}

#header_container {
    background-color: #494F46;
    padding: 3%;
    margin: auto;
    text-align: left;
    color: #fff;
}

.links {
    margin: auto;
}

.half_page {
    width: 48%;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    float: left;
}

.half_link_left {
    margin: 1%;
    text-align: center;
    width: 20%;
    position: relative;
    float: right;
    background-color: #494F46;
    border-radius: 1em;
}

.half_link_right {
    margin: 1%;
    text-align: center;
    width: 20%;
    position: relative;
    float: left;
    background-color: #494F46;
    border-radius: 1em;
}

footer {
    background-color: #494F46;
    position: absolute;
    width: 100%;
    bottom: 0;
}

#footer_container {
    background-color: darkgray;
    margin: auto;
}

#footer {
    float: right; /* or float: left */
    margin: 0 10px 0 0;
}

#footer li {
    float: left;
    list-style: none;
}

#footer li a {
    font-size: 120%;
    font-weight: bold;
    color: #fff;
    padding: 17px 25px 15px 25px;
    display: block;
    text-decoration: none;
}

#footer li a:hover {
    color: #fff;
    background-color: #3b2c2c;
}

/*Borders between each button */
#footer li + li {
    border-left: 1px solid #000;
}

/*Borders on both sides */
#footer li:first-child a {
    border-left: 1px solid #000;
}

#footer li:last-child a {
    border-right: 1px solid #000;
}

#content {
    padding-top: 5%;

}

.text_body {
    padding: 1px 1px 1px 1px;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0.5);
    width: 96%;
    margin: auto;
}