body {
    background-color: orange;
}

.registration {
    text-align: center;
    align-content: center;
    margin: auto;
}

.form_table {
    margin: 2em auto 2em;
    text-align: left;
}

td {
    padding: 1em;
}

h1 {
    font-size: 5em;
}

.home {
    margin: 2em;
}

.error {
    color: red;
}